extends layout

block content
  h1= title
  div(class="message-board")
    each message in messages 
      div(class="message-header")
        div= message.user
        div= message.added
      div= message.text
  a(href="/new") New Message
